<div class="container">
  <div class="myClass">こんにちは</div>
  <div class="row">
    <div *ngFor="let p of products; let productId = index" class="col-sm">
      <a [routerLink]="[productId]">
        <div class="card" style="width: 18rem;">
          <img src="..\assets\img\300.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-title">{{p.name}}</p>
            <p class="card-text">{{p.description}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>